.sideToolBar_container {
	position: fixed;
	top: 30px;
	left: -280px;
	width: 280px;
	height: calc(100vh - 30px);
	border-right: 1px solid var(--borderColor);
	background-color: var(--backgroundColor);
	z-index: 30000;
	transition: all 0.1s;
}

.sideToolBar_functionArea {
	display: flex;
	flex-wrap: wrap;
}

.sideToolBar_notifyArea {
	
}