.window_container {
    position: relative;
    top: 100px;
    left: 100px;
	/* 尺寸在js里设置
	width: 200px;
    height: 200px;*/
    border: 1px solid var(--borderColor);
    background-color: var(--backgroundColor);
    border-radius: 2px;
    z-index: 100;
}
.window_container:hover {
    cursor: unset;
}

.window_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30px;
    border-bottom: 1px solid var(--borderColor);
    user-select: none;
}
.window_title {

}
.window_actionBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.window_actionBtn_outer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin: 0 2px;
}
.window_actionBtn_min {
    width: 13px;
    height: 5px;
    border-radius: 3px;
    background-color: var(--borderColor);
}
.window_actionBtn_maxAndResume {
    width: 13px;
    height: 13px;
    border-radius: 3px;
    background-color: var(--borderColor);
}
.window_actionBtn_close {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: var(--borderColor);
}
.window_body {
    width: 100%;
    height: calc(100% - 30px);
    background-color: #fff;
}

.window_corner {
	position: absolute;
	opacity: 0;
}
.window_corner:hover {
	opacity: 0;
}
.window_corner_tl {
	top: 0px;
	left: 0px;
	cursor: nw-resize;
}
.window_corner_tl> div {
	top: 0;
	left: 0
}
.window_corner_tr {
	top: 0px;
	right: 0px;
	cursor: ne-resize;
}
.window_corner_tr> div {
	top: 0;
	right: 0
}
.window_corner_bl {
	bottom: 0px;
	left: 0px;
	cursor: sw-resize;
}
.window_corner_bl> div {
	bottom: 0;
	left: 0
}
.window_corner_br {
	bottom: 0px;
	right: 0px;
	cursor: se-resize;
}
.window_corner_br> div {
	bottom: 0;
	right: 0
}
.window_corner_row {
	position: absolute;
	width: 10px;
	height: 5px;
	background-color: var(--borderColor);
}
.window_corner_col {
	position: absolute;
	width: 5px;
	height: 10px;
	background-color: var(--borderColor);
}