.topStatusBar_container {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	width: 100vw;
	height: 30px;
	border-bottom: 1px solid var(--borderColor);
}

.topStatusBar_item {
	background-color: var(--backgroundColor);
	color: var(--color);
	margin-right: 2px;
	padding: 4px;
	cursor: pointer;
}
.topStatusBar_item:last-child {
	margin-right: 0;
}