.topStatusBar_container {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	width: 100vw;
	height: 30px;
	border-bottom: 1px solid var(--borderColor);
	background-color: var(--backgroundColor);
}
.topStatusBar_inner {
	display: flex;
	justify-content: space-between;
    align-items: center;
	width: 100%;
    height: 100%;
}
.topStatusBar_item {
	background-color: var(--backgroundColor);
	color: var(--color);
	margin-right: 2px;
	padding: 4px;
	cursor: pointer;
}
.topStatusBar_item:last-child {
	margin-right: 0;
}
.topStatusBar_menu {
	
}
.topStatusBar_serverInfo {
/*    font-size: 14px;*/
    text-decoration: underline;
    border-radius: 2px;
    padding: 2px;
}